/*==========  Media  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1299px) {

	.content {
		padding: 3rem 1rem 1.5rem;
	}
}

@media only screen and (max-width: 1199px) {

	body:not([data-sidebar-position=right]) .sidebar {
		margin-left: -264px;
	}

	body:not([data-sidebar-position=right]) .sidebar.collapsed {
		margin-left: 0;
	}

	.content {
		padding: 3rem 1.5rem 1.5rem;
		width: 100vw;
	}

	.banner-image img {
		max-height: 170px;
	}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {

	.content {
		padding: 3rem 1.5rem 1.5rem;
	}
}

@media only screen and (max-width: 991px) {

	.content {
		width: 100vw;
	}

	.project-images-list li {
		height: 127px;
		width: 127px;
		line-height: 127px;
	}

	/* Hidden List Blocks */
	.turbo-list-banners-info,
	.turbo-list-users-email,
	.turbo-list-users-date,
	.turbo-list-setting,
	.turbo-list-projects-setting {
		display: none;
	}

	/* Resizing Lists */
	.turbo-list .turbo-list-blog-name {
		width: calc(100% - 300px);
	}

	.turbo-list .turbo-list-users-name {
		width: calc(100% - 210px);
	}

	.turbo-list .subcategories-level-1 .turbo-list-categories-name {
		width: calc(100% - 380px);
	}

	.turbo-list .subcategories-level-2 .turbo-list-categories-name {
		width: calc(100% - 410px);
	}

	.turbo-list .turbo-list-categories-name {
		width: calc(100% - 350px);
	}

	.turbo-list .turbo-list-name {
		width: calc(100% - 435px);
	}

	.turbo-list .turbo-list-article-name {
		width: calc(100% - 315px);
	}

	.turbo-list .turbo-list-project-name {
		width: calc(100% - 315px);
	}

	.turbo-list .turbo-list-faq-name {
		width: calc(100% - 245px);
	}

	.turbo-list .turbo-list-backup-name {
		width: calc(100% - 150px);
	}

	.turbo-list .turbo-list-menus-name {
		width: calc(100% - 140px);
	}

	.turbo-list .turbo-list-banners-name {
		width: calc(100% - 500px);
	}

	.turbo-list .turbo-list-tag {
		width: 260px;
	}

	.mh-210px,
	.mh-230px,
	.mh-250px,
	.mh-270px,
	.mh-315px,
	.mh-335px,
	.mh-340px {
		min-height: inherit;
	}

	.banner-images-list li {
		height: 300px;
		line-height: 295px;
	}

	.banner-image img {
		max-height: 250px;
	}

	.watermark-images-list {
		margin-left: -3%;
		margin-right: -3%;
	}

}

/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {

	.content {
		width: 100vw;
	}

	body[data-theme=dark] .feature-name {
		border-right: 1px solid #7a828a;
	}

	body[data-theme=dark] .new-feature-row .new-feature.new-feature-name {
		border-bottom: 1px solid #7a828a;
	}

	header.navbar .container-fluid {
		text-align: center;
	}

	.project-images-list .dropzone-block {
		display: block;
	}

	/* Hidden List Blocks */
	.boxed-sorting,
	.turbo-list-status,
	.turbo-list-translations-num,
	.turbo-list .turbo-list-option,
	.turbo-list-comments-btn,
	.turbo-list-tag,
	.turbo-list .turbo-list-footer,
	.turbo-list-check,
	.turbo-list-drag {
		display: none;
	}

	/* Resizing lists */
	.turbo-list .turbo-list-banners-images-name {
		width: calc(100% - 320px);
	}

	.turbo-list .turbo-list-translations-variable {
		width: calc((100% - 100px) / 2);
	}

	.turbo-list .turbo-list-translations-name {
		width: calc((100% - 0px) / 2);
	}

	.turbo-list .turbo-list-languages-name {
		width: calc(100% - 80px);
	}

	.turbo-list .turbo-list-manager-name {
		width: calc(100% - 0px);
	}

	.turbo-list .turbo-list-comments-name {
		width: calc(100% - 0px);
	}

	.turbo-list .turbo-list-blog-name {
		width: calc(100% - 80px);
	}

	.turbo-list .turbo-list-subscribe-name {
		width: calc(100% - 0px);
	}

	.turbo-list .turbo-list-users-name {
		width: calc(100% - 50px);
	}

	.turbo-list .turbo-list-order-name {
		width: calc(100% - 140px);
	}

	.turbo-list .subcategories-level-1 .turbo-list-categories-name {
		width: calc(100% - 90px);
	}

	.turbo-list .subcategories-level-2 .turbo-list-categories-name {
		width: calc(100% - 120px);
	}

	.turbo-list .subcomments-level-1 .turbo-list-comments-name {
		width: calc(100% - 90px);
	}

	.turbo-list .subcomments-level-2 .turbo-list-comments-name {
		width: calc(100% - 130px);
	}

	.turbo-list .subcomments-level-3 .turbo-list-comments-name {
		width: calc(100% - 160px);
	}

	.turbo-list .turbo-list-categories-name {
		width: calc(100% - 60px);
	}

	.turbo-list .turbo-list-related-name {
		width: calc(100% - 50px);
	}

	.turbo-list .turbo-list-name {
		width: calc(100% - 80px);
	}

	.turbo-list .turbo-list-menus-name {
		width: calc(100% - 100px);
	}

	.turbo-list .turbo-list-backup-name {
		width: calc(100% - 100px);
	}

	.turbo-list .turbo-list-faq-name {
		width: calc(100% - 55px);
	}

	.turbo-list .turbo-list-banners-name {
		width: calc(100% - 55px);
	}

	.banner-images-list li {
		height: 250px;
		line-height: 250px;
	}

	.banner-image img {
		max-height: 150px;
	}

	.watermark-images-list li {
		height: 150px;
		line-height: 150px;
	}

	.watermark-image img {
		max-height: 150px;
	}
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 575px) {

	.turbo-list .turbo-list-footer .btn {
		margin-right: 10px;
		margin-left: 10px;
	}

	/* Resizing Lists */
	.turbo-list .turbo-list-banners-images-name {
		width: calc(100% - 140px);
	}

	.turbo-list .turbo-list-users-name {
		width: calc(100% - 0px);
	}

	.turbo-list .turbo-list-menus-name {
		width: calc(100% - 70px);
	}

	.turbo-list .turbo-list-backup-name {
		width: calc(100% - 90px);
	}

	.turbo-list .subcomments-level-1 .turbo-list-subcomment {
		margin-left: 0px;
		width: 0px;
	}

	.turbo-list .subcomments-level-2 .turbo-list-subcomment {
		margin-left: 0px;
		width: 0px;
	}

	.turbo-list .subcomments-level-3 .turbo-list-subcomment {
		margin-left: 0px;
		width: 0px;
	}

	.turbo-list .subcomments-level-1 .turbo-list-comments-name {
		width: 100%;
	}

	.turbo-list .subcomments-level-2 .turbo-list-comments-name {
		width: 100%;
	}

	.turbo-list .subcomments-level-3 .turbo-list-comments-name {
		width: 100%;
	}

	/* Hidden List Blocks */
	.turbo-list-banners-group {
		display: none;
	}

	.banner-images-list li {
		height: 187px;
		line-height: 184px;
	}

	.banner-image img {
		max-height: 135px;
	}

	.watermark-images-list li {
		height: 150px;
		line-height: 150px;
	}

	.watermark-image img {
		max-height: 150px;
	}

	.btn svg {
		margin-top: -0.2rem !important;
	}

}

@media only screen and (max-width: 491px) {
	.banner-images-list li {
		height: 150px;
		line-height: 145px;
	}

	.banner-image img {
		max-height: 115px;
	}

	.nested-boxed-watermark {
		padding: 10px;
	}
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 382px) {
	.turbo-list-delete {
		display: none;
	}

	.turbo-list .turbo-list-menus-name {
		width: 100%;
	}

	.banner-images-list li {
		height: 140px;
		line-height: 135px;
	}

	.banner-image img {
		max-height: 90px;
	}

	.nested-boxed-watermark {
		padding: 10px;
	}
}